@font-face {font-family: "8-bit Operator+ Bold";src: url("assets/font/8bitOperatorPlus-Bold.eot?") format("eot"), url("assets/font/8bitOperatorPlus-Bold.woff") format("woff"), url("assets/font/8bitOperatorPlus-Bold.ttf") format("truetype"), url("assets/font/8bitOperatorPlus-Bold.svg#8bitOperatorPlus-Bold") format("svg");font-weight: normal;font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;

  background: #000000;
  font-family:'8-bit Operator+ Bold', monospace;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #342db5;
}

header::after {
  content: " ";
  display: table;
  clear: both;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  
}

nav li {
  text-shadow: 0 2px #000000;
  display: inline-block;
  padding: 15px;
  padding-left: 80px ;

  position: relative;
  
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

nav a:hover {
  color: #D5D3F4;
}

.anuncio {
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-align: center;

}

h2 {
  font-size: 32px;
  display: block;

}
.red {
  color: red;
  line-height: 1.2;
  font-size: 65%;
  font-weight: 500;
}

.yellow {
  color: yellow;
  line-height: 1.2;
}

.status {
  color: white;
  line-height: 1.2;
}

.gray {
  color: gray;
}

/*---------------------CASTELO----------------------*/

.castle {
  display: flex;
  justify-content: center;
  position: relative;
}

.deltarune {
  display: flex;
  justify-content: center;
  position: relative;

  bottom:15rem;
  max-width: 100%;
  height: auto;
}

.capitulos {
  color: white;
  font-size: 32px;
  bottom: 180px;
  left: 40rem;
  position: absolute;
}

.fita {
  display: flex;
  position: absolute;
  bottom: -100px;
  left: 29rem;
}

.trailer {
  justify-content: center;
  display: flex;
}

.news {
  color: white;
  font-size: 50px;
  text-align: center;
}

hr {
  border-width: 2px;
  color: #eee;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60%;
}

.novidades {
  margin-left: 20%;
}

.anuncionovidade {
  display: flex;
  justify-content: left;
  text-decoration: none;
  text-align: center;
}