@font-face {font-family: "8-bit Operator+ Bold";src: url("font/8bitOperatorPlus-Bold.eot?") format("eot"), url("font/8bitOperatorPlus-Bold.woff") format("woff"), url("font/8bitOperatorPlus-Bold.ttf") format("truetype"), url("font/8bitOperatorPlus-Bold.svg#8bitOperatorPlus-Bold") format("svg");font-weight: normal;font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;

  background: #000000;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #342db5;
}

header::after {
  content: " ";
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  font-family:'8-bit Operator+ Bold', monospace;
  text-shadow: 0 2px #000000;
  display: inline-block;
padding: 15px;

  position: relative;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: rgb(255, 255, 255);
}

nav a::before {
  content: " ";
  display: block;
  height: 5px;
  background-color: rgb(255, 255, 255);

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}