@font-face {font-family: "8-bit Operator+ Bold";src: url("font/8bitOperatorPlus-Bold.eot?") format("eot"), url("font/8bitOperatorPlus-Bold.woff") format("woff"), url("font/8bitOperatorPlus-Bold.ttf") format("truetype"), url("font/8bitOperatorPlus-Bold.svg#8bitOperatorPlus-Bold") format("svg");font-weight: normal;font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;

  background: #000000;
  font-family:'8-bit Operator+ Bold', monospace;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #342db5;
}

header::after {
  content: " ";
  display: table;
  clear: both;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  
}

nav li {
  text-shadow: 0 2px #000000;
  display: inline-block;
  padding: 15px;
  padding-left: 80px ;

  position: relative;
  
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

nav a:hover {
  color: #D5D3F4;
}

.anuncio {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.status {
  color: white
}

small {
  color: gray;
}