@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body {
  background: rgb(236, 236, 236);
  font-family: "Rock Salt", cursive;
  color: rgb(85, 11, 11);
}

.cartoes {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 300px 300px;
  grid-gap: 20px;
  columns: 1
}

.cartao {
  width: 400px;
  height: 300px;
  perspective: 1000px;
  columns: 1
}

.cartao-container {
  position: relative;
  height: 100%;
  transition: transform .6s;
  transform-style: preserve-3d;
}

.cartao:hover .cartao-container {
  transform: rotateY(180deg) rotateX(360deg);
}

.cartao-front, .cartao-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  z-index: 1;
  border-radius: 5px;
  
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.cartao-front {
  background: #666;
}

.cartao-back {
  transform: rotateY(180deg);
  background: #fff;
  
  box-sizing: border-box;
  padding: 15px;
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  
  background-color: #fff1f0;
}

.cartao1 .cartao-front {
  background-image: url(https://images.pexels.com/photos/3985154/pexels-photo-3985154.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: 30%
}

.cartao2 .cartao-front {
  background-image: url(https://images.unsplash.com/photo-1495556650867-99590cea3657?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
  background-size: cover;
  background-position: 100%
}

.cartao3 .cartao-front {
  background-image: url(https://images.unsplash.com/photo-1550170139-ed6b5e6b4c38?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
  background-size: cover;
  background-position: 100%
}

.cartao4 .cartao-front {
  background-image: url(https://images.unsplash.com/photo-1554578452-2dda21e5d482?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
  background-size: cover;
  background-position: 100%
}

.cartao5 .cartao-front {
  background-image: url(https://images.unsplash.com/photo-1554578452-2dda21e5d482?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
  background-size: cover;
  background-position: 100%
}