body {
  margin: 0;
  padding: 0;
  height: 100vh;

  background: rgb(224, 224, 224);

}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

header {
  background: #cdb7ff;
}

nav {
  text-align: center;
  position: relative;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;

  position: relative;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;

  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(1, -0.02, 0.23, 1.26);
  transition-delay: 10ms;
}

nav a:hover {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: bold;
}

.texto {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  width: 400px;
  height: 80px;

  display: flex;
  float: right;
  text-align: center;
  padding-right: 100px;
  padding-top: 20px;
}
