@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100vh;

  background: rgb(255, 255, 255);

}

.logo {
  float: left;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

header {
  background: #cdb7ff;
}

header::after {
  content: " ";
  display: table;
  clear: both;
}


nav {
  text-align: center;
  position: relative;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;

  position: relative;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;

  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(1, -0.02, 0.23, 1.26);
  transition-delay: 10ms;

  transition: all 0.6s;
}

nav a:hover {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: bold;
  transition-duration: 500ms all;  
  transition: all 0.6s;
}

.ul-container {
  margin-top: 45px;
  margin-right: 20%;
}


.figcaption {
  display: inline-flexbox;
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
}

.imagem {
  content: " ";
  display: block;
  height: 70vh;
  width: 60%;
}

.objectImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;

  position: relative;
    box-shadow: 0 0 8px;
  
  transition-duration: 500ms;
}

.objectImage:hover {
  height: 105%;
}

.titulo {
  position: absolute;
  margin-top: -40rem;
  margin-left: 2rem;

  font-family: 'Cormorant SC', serif;
  font-size: 100px;
  text-shadow: black  2px 0;
  color: rgb(255, 255, 255);

  transition-duration: 500ms;
}

.titulo:hover {
  margin-left: 4rem;
  text-shadow: black -2px 0;
  font-size: 103px;
}


.caixatexto {
  content: normal;
  display: flex;
  height: 70vh;
  width: 35vw;
  background: rgb(255, 255, 255);
  box-shadow: black 0px 0px 8px;
  border-radius: 20px;
  position: absolute;

  justify-content: center;
  justify-items: center;

  margin-top: -35.3%;
  margin-left: 63%;

  transition-duration: 500ms;
}

.caixatexto:hover {
  height: 73vh;
}

.texto {
  position: absolute;
  height: 80%;
  width: 80%;

  margin-top: 60px;
  
  display: flex;
  justify-content: center;
  justify-items: center;
}

.paragrafo {
  font-family: 'Bodoni Moda', serif;
  color: rgb(8, 8, 8);
  font-size: 25px;
  text-align: center;

  margin-top: 80%;
}

.paragrafo a {
  color: #aa87fc;
  text-decoration: none;

  transition-duration: 500ms;
}

.paragrafo a:hover {
  color: #4a3283;
  font-size: 27px;
}

.caixatexto a img {
  margin-top: -25px;

  transition-duration: 500ms;
}

.caixatexto a img:hover {
  height: 510px;
  width: 510px;
}

hr {
  height: 5px;
  background: #cfcfcf;
  margin-top: 35px;
  width: 75%;
}

h1 {
  font-size: 85px;
  margin-top: -10px;
  margin-left: 10px;
  color: #aa87fc
}